.App{
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
    ul{
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    .card{
        width: 70%;
        margin-left: 10%;
    }
    .view-details{
        width: 25vw;
        margin-left: 60%;
    }
    .section{
        margin-top: 60%;
        margin-left: 15%;
        text-align: center;
    }
}
